body{
    background-color: rgb(0, 0, 166);
    font-family: sans-serif;
    display: flex;
    text-decoration: row;
    justify-content: center;
    margin-top: 2rem;
}

article{
    background-color: white;
    display: inline-block;

    border-radius: 15px;
    padding: 1rem;
}

.button{
    display: flex;
    width: 260px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#question{
    border-top: 1px solid rgb(178, 178, 178);
    padding-top: 20px;
    width: 260px;
}

.button:hover{
    background-color: hsl(0, 0%, 80%);
}